<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div th:fragment="oficinaForm(titulo)" class="container mt-5">
        <div class="border border-2 p-4 w-50 mx-auto">
            <h1 class="text-center mb-4" th:text="${titulo}"></h1>
            <form>
                <div class="form-group">
                    <label for="id" class="col-form-label">Id:</label>
                    <input class="form-control" type="text" id="id" name="id" required th:value="${oficina.id}" />
                </div>
                <div class="form-group">
                    <label for="nombre" class="col-form-label">Nombre:</label>
                    <input class="form-control" type="text" id="nombre" name="nombre" required th:value="${oficina.nombre}" />
                </div>
                <div class="form-group">
                    <label for="direccion" class="col-form-label">Dirección:</label>
                    <input class="form-control" type="text" id="direccion" name="direccion" required th:value="${oficina.direccion}" />
                </div>
                <div class="form-group">
                    <label for="numero_puntos_atencion" class="col-form-label">Cantidad puntos atención:</label>
                    <input class="form-control" type="number" id="numero_puntos_atencion" name="numero_puntos_atencion" required th:value="${oficina.numero_puntos_atencion}" />
                </div>
                <div class="form-group">
                    <label for="gerente" class="col-form-label">Gerente Id:</label>
                    <input class="form-control" type="number" id="gerente" name="gerente" required th:value="${oficina.gerente}" />
                </div>
                <div class="form-group">
                    <label for="ciudad" class="col-form-label">Ciudad:</label>
                    <input class="form-control" type="text" id="ciudad" name="ciudad" required th:value="${oficina.ciudad}" />
                </div>
                <div class="text-center mt-4">
                    <input type="submit" value="Guardar" class="btn btn-primary">
                    <a th:href="@{/oficinas}" class="btn btn-secondary ml-2">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
