<!DOCTYPE html>
<html>

<head>
    <title>Extracto</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
    <div class="container">
        <div class="text-center">
            <h3>Tabla de consignaciones</h3>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Tipo Operación</th>
                        <th>Fecha</th>
                        <th>Monto Operación</th>
                        <th>Cliente</th>
                        <th>Cuenta Llegada</th>
                        <th>Punto Atención</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="consignacion : ${operacionesConsignacion}">
                        <tr>
                            <td th:text="${consignacion.id}"></td>
                            <td th:text="${consignacion.tipo_operacion}"></td>
                            <td th:text="${consignacion.fecha}"></td>
                            <td th:text="${consignacion.monto_operacion}"></td>
                            <td th:text="${consignacion.cliente}"></td>
                            <td th:text="${consignacion.cuenta_llegada}"></td>
                            <td th:text="${consignacion.punto_atencion}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>

            <!-- Tabla de retiros -->
            <h3>Tabla de retiros</h3>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Tipo Operación</th>
                        <th>Fecha</th>
                        <th>Monto Operación</th>
                        <th>Cliente</th>
                        <th>Cuenta Llegada</th>
                        <th>Punto Atención</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="retiro : ${operacionesRetiro}">
                        <tr>
                            <td th:text="${retiro.id}"></td>
                            <td th:text="${retiro.tipo_operacion}"></td>
                            <td th:text="${retiro.fecha}"></td>
                            <td th:text="${retiro.monto_operacion}"></td>
                            <td th:text="${retiro.cliente}"></td>
                            <td th:text="${retiro.cuenta_llegada}"></td>
                            <td th:text="${retiro.punto_atencion}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>

            <!-- Tabla de transferencias -->
            <h3>Tabla de transferencias</h3>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Tipo Operación</th>
                        <th>Fecha</th>
                        <th>Monto Operación</th>
                        <th>Cliente</th>
                        <th>Cuenta Llegada</th>
                        <th>Punto Atención</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="transferencia : ${operacionesTransferencia}">
                        <tr>
                            <td th:text="${transferencia.id}"></td>
                            <td th:text="${transferencia.tipo_operacion}"></td>
                            <td th:text="${transferencia.fecha}"></td>
                            <td th:text="${transferencia.monto_operacion}"></td>
                            <td th:text="${transferencia.cliente}"></td>
                            <td th:text="${transferencia.cuenta_llegada}"></td>
                            <td th:text="${transferencia.punto_atencion}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>

            <!-- Saldos -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Saldos:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h5>Saldo a inicio de mes: <span th:text="${saldoInicial}"></span></h5>
                    <h5>Saldo a final de mes: <span th:text="${saldoFinal}"></span></h5>
                </div>
            </div>

            <!-- Botón de volver -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <a th:href='@{/}' class="btn btn-primary">Volver Atrás</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
