<!DOCTYPE html>
<html>
  <head>
    <title>cuentas</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
  </head>

  <body>

    <div class="container-flui">
      <div class="row" style="background-color:rgb(100,133,6); font-size: 40px;" >
          <div class="1-col" style="margin-left: 20px; font-size: 38px; font-family: 'Aptos Black';">Banco de los Andes</div>
      </div>

    <div class="text-center">
      <h1>Lista de cuentas</h1>

      <div class="row">
        <table class="table table-hover table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Numero Cuenta</th>
              <th>Estado</th>
              <th>Saldo</th>
              <th>Tipo</th>
              <th>Cliente</th>
              <th>Ultima Transaccion</th>
              <th>Gerente Oficina Creador</th>
              <th>Fecha Creacion</th>
            </tr>
          </thead>

          <th:block th:each="usuario : ${usuarios}">
            <th:block th:each="cuenta : ${usuario.cuentas}">
              <tr>
                <td th:text="${cuenta.id}"></td>
                <td th:text="${cuenta.numero_cuenta}"></td>
                <td th:text="${cuenta.estado}"></td>
                <td th:text="${cuenta.saldo}"></td>
                <td th:text="${cuenta.tipo}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${cuenta.ultima_transaccion}"></td>
                <td th:text="${cuenta.gerente_oficina}"></td>
                <td th:text="${cuenta.fecha_creacion}"></td>

                <td>
                  <a th:href="@{/cuentas/{id_usuario}/edit/{id_cuenta}(id_usuario=${usuario.id},id_cuenta=${cuenta.id})}">Cambiar estado</a>
                </td>
              </tr>
            </th:block>
          </th:block>
        </table>
      </div>

      <div>
        <a th:href="@{/cuentas/new}" class="btn btn-primary">Añadir Cuenta</a>
        <a th:href='@{/}' class="btn btn-primary">Volver Atrás</a>
      </div>
      <br />
    </div>
  </div>
  </body>
</html>
