<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco de los Andes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container-flui">
        <div class="row" style="background-color:rgb(100,133,6); font-size: 40px;" >
            <div class="1-col" style="margin-left: 20px; font-size: 38px; font-family: 'Aptos Black';">Banco de los Andes</div>
    </div>

      <div class="row" style="margin-left: 140px; font-size: 30px; font-family: 'Aptos Black';"><br>Requerimientos funcionales<br><br></div>
      
      <div class="row">
          <div class="1-col" style="margin-left: 150px;"> <a th:href="@{usuarios/new}" class="btn btn-primary"> RF1-CREAR USUARIO </a> <br> <br> </div>
      </div>

      <div class="row">
          <div class="1-col" style="margin-left: 150px;"> <a th:href="@{/oficinas}" class="btn btn-primary"> RF2-CREAR OFICINA </a> <br> <br></div>
      </div>

      <div class="row">
        <div class="1-col" style="margin-left: 150px;"> <a th:href="@{usuarios/new}" class="btn btn-primary"> RF3-CREAR Y BORRAR PUNTO DE ATENCIÓN </a> <br> <br> </div>
    </div>

    <div class="row">
        <div class="1-col" style="margin-left: 150px;"> <a th:href="@{/oficinas}" class="btn btn-primary"> RF4-CREAR CUENTA </a> <br> <br></div>
    </div>

    <div class="row">
      <div class="1-col" style="margin-left: 150px;"> <a th:href="@{/oficinas}" class="btn btn-primary"> RF5-CAMBIAR ESTADO DE CUENTA A CERRADA O DESACTIVADA </a> <br> <br></div>
    </div>

    <div class="row">
      <div class="1-col" style="margin-left: 150px;"> <a th:href="@{/oficinas}" class="btn btn-primary"> RF6-REGISTRAR OPERACIÓN SOBRE CUENTA</a> <br> <br></div>
    </div>

    <div class="row" style="margin-left: 140px; font-size: 30px; font-family: 'Aptos Black';"><br>Requerimientos funcionales de consulta<br><br></div>

    <div class="row">
      <div class="1-col" style="margin-left: 150px;"> <a th:href="@{/oficinas}" class="btn btn-primary"> RFC1-CONSULTAR LAS CUENTAS EN BANCANDES</a> <br> <br></div>
    </div>

    <div class="row">
      <div class="1-col" style="margin-left: 150px;"> <a th:href="@{/oficinas}" class="btn btn-primary"> RFC2-EXTRACTO BANCARIO PARA UNA CUENTA</a> <br> <br></div>
    </div>


  </div>
    
</body>
</html>